
.wrapper {
  margin-top: 50px;


  .calcBlock {
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    background-color: black;

    .screen {
      margin-bottom: 15px;
      text-align: right;
      color: white;
      font-size: 60px;
    }


    .b {
      display: flex;
      justify-content: space-between;
      height: 15%;
      button {
        //width: 25%;
      }
    }

    .b6 {
      display: flex;
      justify-content: space-between;
      height: 15%;
      button {
        //width: 33.3%;
      }
    }
  }
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
  font-size: 35px;
  color: white;
  background-color: #333333;
  border: 0;
  cursor: pointer;
  //box-shadow: 0px 5px 0px #00823F;
  position: relative;
  transition: all .5s linear;

  &:active {
    //box-shadow: 0 3px 0 #00823F;
    top: 2px;
    transition: all .5s ease-out;
  }
}

button.zero {
  width: 250px;
  border-radius: 50px;
}

button.orange {
  background-color: #ff9a0a;
}
button.gray {
  background-color: #a5a5a5;
}

button.lightBlack {
  background-color: #333333;
}

